
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$custom-red: (
  50: #ffa29e,
  100: #ffa29e,
  200: #f77070,
  300: #f77070,
  400: #f77070,
  500: #f77070,
  600: #f77070,
  700: #c03f45,
  800: #c03f45,
  900: #c03f45,
  A100: #f77070,
  A200: #f77070,
  A400: #f77070,
  A700: #f77070,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: black,
    A700: black
  )
);

$custom-teal: (
  50: #e5ffff,
  100: #e5ffff,
  200: #e5ffff,
  300: #b2dfdb,
  400: #b2dfdb,
  500: #b2dfdb,
  600: #b2dfdb,
  700: #82ada9,
  800: #82ada9,
  900: #82ada9,
  A100: #b2dfdb,
  A200: #b2dfdb,
  A400: #b2dfdb,
  A700: #b2dfdb,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: black,
    800: black,
    900: black,
    A100: black,
    A200: black,
    A400: black,
    A700: black
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$PMA-primary: mat-palette($custom-red);
$PMA-accent: mat-palette($custom-teal);

// The warn palette is optional (defaults to red).
$PMA-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$PMA-theme: mat-light-theme($PMA-primary, $PMA-accent, $PMA-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($PMA-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
